body{
    background-image: url(../../friends.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron{
    background: none;
    margin-top: 190px;
}
h1 {
    color: cyan;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}

h5{
    color: cyan;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.btn{
    font-family: 'Neuton', serif;  
    font-size: 40px;
}
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: antiquewhite;
  }